body {
  background-color: #3AAFA9;
}

.ckrImg{
  width: 50%;
  margin: auto;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 10px 10px #74dbc4;
}

.profileImg {
  width: 100%;
}

.nameTitle{
  margin: auto;
  text-align: center;
  font-weight: bolder;
  font-family: fantasy;
}

.descPara{
  text-align: center;
  padding-bottom: 15px;
}

p{
  color:#FEFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  margin-bottom: 15px;
}

.techStack {
  width: 100%;
  height: 100px;
  background-color: #FEFFFF;
  border-radius: 5px;
  border: 1px dashed;
}

.reactRouterImg {
  width: 10%;
  position: relative;
  top: 8px;
}

.helloBadge {
  padding: 5px 20px;
  background-color: #DEF2F1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  margin-bottom: 30px;
}

.introPadding {
  padding: 18rem 0;
}

.contactInfo {
  color: #FEFFFF;
  padding: 5px 0;
  font-weight: 200;
}

.professionalContact {
  color: #FEFFFF !important;
  font-size: 20px;
  padding: 0 15px;
}

.contactInfoIcon {
  padding-right: 10px;
}

.introduction{
  align-self: center;
}

.techList{
  border: 1px solid white;
  border-radius: 2px 2px 2px 2px;
  color: #FEFFFF;
  display: inline-flex;
  padding: 5px 5px;
  margin: 5px 10px;
  font-size: 14px;
  font-weight: 300;
}